<h1>LOGIN</h1>

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <form action="/user/login" method="post">
            <div id="login-form">
                <ul>
                    {{#if errorMessage}}
                    <li>
                        <label class="alert-error"> {{errorMessage}} </label>
                    </li>
                    {{/if}}
                    <li> <input type="text" name="userName" id="user-name"> </li>
                    <li> <input type="password" name="password" id="password"> </li>
                    <li> 
                        <button type="submit" id='form-action' class="btn">GİRİŞ</button>
                        <a href="http://" class="btn btn-red"><i class="fab fa-google-plus-g"></i> Google ile Giriş</a>
                    </li>
                </ul>
            </div>
        </form>
        
    </div>
    <div class="col-md-3"></div>
</div>